body {
    background-color: #f1f1f1;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
}

.table {
    width: 1200px;
    height: 300px;
}

.table img {
    margin-top: 5px;
    width: 100%;
}